.mainContainer {
    height: 100vh;
    width: 100px;
    z-index: 1;
    flex-grow: 1;
    background: rgba(34, 34, 34, 0.5);
    backdrop-filter: blur(3px);
    transition: all 0.3s cubic-bezier(0.175, 0.855, 0.32, 1);
}

.banner {
    height: 300px;
    position: relative;
}

.banner .bannerImg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100);
}

.banner .bottomLayer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(transparent, rgba(0, 0 , 0, 0.9));
}

.banner .content {
    position: absolute;
    top: 0%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.banner .content .breadCrump {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .content .breadCrump p {
    color: #848484;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px; 
}

.banner .content .breadCrump p span {
    color: #f1f1f1;
    margin-left: 5px;
}

.banner .content .artist {
    margin-top: auto;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .content .artist .left .name {
    display: flex;
    align-items: center;
}

.banner .content .artist .name h2 {
    font-size: 50px;
}

.banner .content .artist .left .name img {
    width: 30px;
    margin-left: 10px;
}

.banner .content .artist .left p {
    font-size: 14px;
}

.banner .content .artist .left p i {
    margin-right: 6px;
}

.banner .content .artist .left p span {
    color: #848484;
    margin-left: 5px;
}


.banner .content .artist .right {
    display: flex;
    align-items: center;
}

.banner .content .artist .right a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-size: 16ox;
    color: #f1f1f1;
    margin: 0 15px;
    border-radius: 100vh;
    /* background: #555; */
    font-weight: bold;
    text-align: center;
}

.banner .content .artist .right a i {
    margin-right: 10px;
    font-size: 14px;
}

.banner .content .artist .right a:nth-child(1) {
    background: #ff004f;
    margin-left: 0;
}

.banner .content .artist .right a:nth-child(2) {
    background: rgba(0, 0, 0, 0.3);
    margin-right: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.banner .content .artist .right a:hover {
    box-shadow: 0px 0px 20px rgba(17, 2, 2, 0.4);
}

.banner .content .breadCrump i {
    font-size: 18px;
    color: #f1f1f1;
    cursor: pointer;
}

.menuList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    background: #2c2c2c;
} 

.menuList ul {
    display: flex;
    align-items: center;
}

.menuList ul li {
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.menuList ul li a {
    text-decoration: none;
    color: #848484;
    font-size: 14px;
    font-weight: bold;
}

.menuList ul li::before {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 10px;
    width: 0px;
    height: 5px;
    border-radius: 5px;
    background: #ff004f;
}

.menuList ul li:hover::before, 
.menuList ul li.active::before{
    width: 20px;
    transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menuList ul li:hover a, .menuList ul li.active a {
    color: #ff004f;
    transition: 0.3s;
}

.menuList p {
    font-size: 14px;
    color: #f1f1f1;
}

.menuList p i {
    margin-right: 5px;
    font-size: 12px;
}

.menuList p span {
    color: #848484;
    margin-left: 6px;
    /* display: block; */
    font-size: 12px;
    text-align: center;
}

/* Main Audio list Styles  */

.audioList {
    padding: 10px 30px;
}

.audioList .title {
    font-size: 18px;
    color: #f1f1f1;
}

.audioList .title span {
    /* margin-right: 5px; */
    font-size: 12px;
    color: #848484;
}

.songsContainer {
    height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* background: #f1f1f1; */
}

.songs {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #848484;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    padding-bottom: 5px;
}

.songs:hover, .songs.active {
   color: #f1f1f1;
   transition: 0.3s;
}

.songsContainer .count {
    margin-right: 10px;
    
}

.song {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 5px;
    cursor: pointer;
}

.song imgBox {
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 0.5em;
    background: #555;
    margin-right: 10px;
    overflow: hidden;
}

.song .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song .section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.song .section .songName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 10px;
}

.song .section .hits {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song .section .hits .hit,
.song .section .hits .duration i {
    margin-right: 12px;
}

.song .section .hits .hit i,
.song .section .hits .duration i {
    font-size: 12px;
    margin-right: 5px;
}

.song .section .hits .favourite i {
    color: #ff004f;
    filter: drop-shadow(0px 0px 4px #ff004f);
    margin-left: 10px;
}


/* ======Media Queries ============= */

@media only screen and (max-width: 550px) {
    .mainContainer {
        min-width: 380px;
    }

    .content {
        padding: 10px 15px;
    }
    
   .content.breadCrump p {
        font-size: 12px;

   }

   .banner .content .artist .left .name h2 {
        font-size: 20px;
   }

   .banner .content .artist .right a {
        padding: 5px 15px;
        font-size: 12px;
        margin: 0 10px;
   }

   .menuList {
        padding: 5px 10px;
   }
   
  .menuList ul li {
    margin: 0 5px;
  }

  .menuList p {
    font-size: 12px;
  }
  
 .menuList p i {
    font-size: 10px;
 }

 .audioList {
    padding: 10px 5px;
 }

 .audioList .songs .song .section {
    flex-direction: column;
    align-items: flex-start;
    
 }

 .audioList .songs .song .section .songName {
    width: 100%;
 }

 .audioList .songs .song .section .hits {
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
 }
}